{% extends "base.html" %}

{% block title %}Students{% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>All Students</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Students</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
    <div class="card">
        <div class="card-body">
    <!-- Display attendance data as a table -->
            <div class="container">
                <h5  class="card-title">Students</h5>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>TAG ID</th>
                            <th>Name</th>
                            <th>Student ID</th>
                            <th>Timestamp</th>
                            <th>Actions</th> <!-- Add a new column for actions -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in data %}
                            <tr>
                                <td>{{ record.tag_id }}</td>
                                <td>{{ record.user_name }}</td>
                                <td>{{ record.student_id }}</td>
                                <td>{{ record.attendance_time }}</td>
                                <td>
                                    <!-- View Button -->
                                    <a href="http://127.0.0.1:5000/students/view/{{ record.student_id }}" class="btn btn-info btn-sm">
                                        View
                                    </a>
                                    
                                    <!-- Edit Button -->
                                    <a href="http://127.0.0.1:5000/students/edit/{{ record.student_id }}" class="btn btn-warning btn-sm">
                                        Edit
                                    </a>
                                    
                                    <!-- Delete Button -->
                                    <a href="http://127.0.0.1:5000/students/delete/{{ record.student_id }}" class="btn btn-danger btn-sm">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
        </div>
{% endblock %}